
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#99CCFF;    
}

/* Portrait layout (default) */
.app {
    background:url(../visuals/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

@charset "UTF-8";

@font-face{
font-family:'OpenSans';
src: url('../fonts/OpenSans-Latin-400.woff2') format('woff2');
font-weight:400;
}
@font-face{
font-family:'OpenSans';
src: url('../fonts/OpenSans-LatinExtended-400.woff2') format('woff2');
font-weight:400;
}
@font-face{
font-family:'OpenSans';
src: url('../fonts/OpenSans-Latin-600.woff2') format('woff2');
font-weight:600;
}
@font-face{
font-family:'OpenSans';
src: url('../fonts/OpenSans-LatinExtended-600.woff2') format('woff2');
font-weight:600;
}
@font-face{
font-family:'OpenSans';
src: url('../fonts/OpenSans-Latin-700.woff2') format('woff2');
font-weight:700;
}
@font-face{
font-family:'OpenSans';
src: url('../fonts/OpenSans-LatinExtended-700.woff2') format('woff2');
font-weight:700;
}

@font-face{
font-family:'OpenSans';
src: url('../fonts/OpenSans-Latin-800.woff2') format('woff2');
font-weight:800;
}

html{margin:0;padding:0;border:0;font-size:100.01%}a,body,div,em,form,h1,h2,h3,h4,h5,h6,iframe,img,li,object,ol,p,span,table,tbody,td,th,tr,ul{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;font-family:'OpenSans',sans-serif}

#container{
position:relative;top:0;left:0;
width:790px; 
margin:0 auto;
transform-origin:center top;
}

#topNavBar{position:relative;top:0;left:0;width:790px;height:64px;overflow:hidden}
#navSign{position:absolute;top:7px;left:38px;width:752px;height:50px;border-radius:10px 0 0 10px;background-color:#0079C1}
#bgColour{position:absolute;top:30px;left:11px;width:35px;height:35px}

h1,h2,h3,h4{text-align:center}

h1,h2{font-size:2.5em;line-height:1.25em;color:#fff;font-weight:600;padding:18px 0 15px}
h1{font-weight:800;}
h3{font-size:2em;margin-bottom:.5em;font-weight:600;line-height:1.15em}
h4{font-size:1.2em;margin-bottom:.5em}

p,ul,ol{font-size:1.05em;line-height:1.5em;}
p{margin:0 0 1.5em}
p.emMid{text-align:center;font-style:italic}

ol,ul{margin:0 1.5em 1.5em 3.6em;}ul{list-style-type:disc}ol{list-style-type:decimal}li{padding-bottom:0.9em}table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;width:100%}table,td,th{vertical-align:middle}td,th{text-align:left;font-weight:400;float:none!important;padding:4px 10px 4px 5px}
hr{height:2px;color:#fff;background-color:#fff;border:0;width:80%;margin-bottom:30px}

#navLeftPipe,.grass{background-color:transparent;background-image:url(../visuals/iSprite150226.png);background-repeat:no-repeat;background-position:0 0}

#Div3DBannerFX,#pageInfoFX{display:block;position:absolute;top:57px;width:790px;height:490px;overflow:hidden}
#pageInfoFX{display:none}
#pageInfo{overflow:scroll;position:relative;width:707px;height:350px;left:0;top:0;padding:0 15px 15px;text-decoration:none;text-align:left;font-weight:400;color:#fff;border-radius:15px;background-color:#630;border:6px solid #fff}
#interface{display:block;position:absolute;top:0;width:790px;height:484px;}#behind-game{display:block;position:absolute;top:-32px;left:10px;width:776px;height:506px;}

.pipes14,.pipes30,.pipes7{position:relative;width:790px;height:30px;padding:0}.pipes7{height:7px}.pipes14{height:14px}#pnc,.np1,.np2,.np3,.np4{position:absolute;top:0;width:12px;height:100%;background:#ccc}.np1{left:122px}.np2{left:300px}.np3{right:300px}.np4{right:122px}#pnc{position:relative;left:70px;width:14px}.pipeV{position:absolute;top:0;left:0;width:100%;height:100%;background-image:-webkit-gradient(linear,right bottom,left bottom,color-stop(0,#ABABAB),color-stop(0.28,#FFF),color-stop(1,#242424),color-stop(1,#BABABA));background-image:-o-linear-gradient(left,#ABABAB 0,#FFF 28%,#242424 100%,#BABABA 100%);background-image:-moz-linear-gradient(left,#ABABAB 0,#FFF 28%,#242424 100%,#BABABA 100%);background-image:-webkit-linear-gradient(right,#ABABAB 0,#FFF 28%,#242424 100%,#BABABA 100%);background-image:-ms-linear-gradient(left,#ABABAB 0,#FFF 28%,#242424 100%,#BABABA 100%);background-image:linear-gradient(to left,#bbb 0,#FFF 24%,#FFF 37%,#555 90%,#666 100%)}.pipeV1{position:absolute;top:0;left:0;width:100%;height:100%;background-image:-webkit-gradient(linear,left bottom,right bottom,color-stop(0,#666),color-stop(0.28,#FFF),color-stop(1,#242424),color-stop(1,#AAA));background-image:-o-linear-gradient(right,#666 0,#FFF 28%,#242424 100%,#AAA 100%);background-image:-moz-linear-gradient(right,#666 0,#FFF 28%,#242424 100%,#AAA 100%);background-image:-webkit-linear-gradient(left,#666 0,#FFF 28%,#242424 100%,#AAA 100%);background-image:-ms-linear-gradient(right,#666 0,#FFF 28%,#242424 100%,#AAA 100%);background-image:linear-gradient(to right,#bbb 0,#FFF 24%,#FFF 37%,#555 90%,#666 100%)}.pipeH{position:absolute;top:0;left:0;width:100%;height:100%;background-image:-webkit-gradient(linear,right bottom,right top,color-stop(0,#ABABAB),color-stop(0.28,#FFF),color-stop(1,#242424),color-stop(1,#BABABA));background-image:-o-linear-gradient(bottom,#ABABAB 0,#FFF 28%,#242424 100%,#BABABA 100%);background-image:-moz-linear-gradient(bottom,#ABABAB 0,#FFF 28%,#242424 100%,#BABABA 100%);background-image:-webkit-linear-gradient(top,#ABABAB 0,#FFF 28%,#242424 100%,#BABABA 100%);background-image:-ms-linear-gradient(bottom,#ABABAB 0,#FFF 28%,#242424 100%,#BABABA 100%);background-image:linear-gradient(to bottom,#bbb 0,#FFF 24%,#FFF 37%,#555 90%,#666 100%)}#navLeftPipe{background-position:-91px -74px;position:absolute;top:23px;left:7px;width:38px;height:36px;display:block;overflow:hidden}.pipe-narrow-column{display:block;margin-left:7px;width:140px;height:20px}

.grass,.pipes,.space{margin:0;width:790px;height:30px;padding:0;color:#9cf}.grass{background-position:0 0}.space{width:100%}

img.imgWhiteBorder{border:2px solid #fff;border-radius:12px}img.imgOnWhite{border:3px solid #000;border-radius:15px}img.imgOnColour,img.linkImgOnColour{padding:5px;border:3px solid #fff;border-radius:7px}img.linkImgOnColour:hover{border-color:#ff0}

#info,#back{position:absolute;}
#infoButton,#backButton{position:absolute;top:0;left:0;width:30px;height:31px;border:2px solid white;border-radius:6px;font-size:18px;font-family:Arial,Helvetica,sans;color:#FFF;cursor:pointer;}
#back{visibility:hidden}
#info{top:7px;left:10px}
#infoButton{background:#663300;}
#backButton{height:30px;background:#0079C1;}#infoGraphic,#backGraphic{position:absolute;width:21px;height:22px;top:4px;left:9px;}
#backGraphic{top:5px;left:8px;width:15px;height:19px;}
/*
.help,.logo{position:absolute;top:9px;left:9px;width:44px;height:44px;border:3px solid #fff;border-radius:9px}.logoG{position:relative;left:13px;top:4px}.help{border-color:#000;background:#fff}.helpG{position:relative;left:9px;top:4px}';
*/
.smallLinks{margin-bottom:14px;text-align:center;font-weight:700;font-size:14px;line-height:30px}a:link,a:visited{text-decoration:none;color:#ff0}a:hover{color:orange;text-decoration:none}#footerCopyright,.blueLinks,.whiteLinks{font-size:14px;text-align:center;font-weight:600}.blueLinks,.blueLinks a:link,.blueLinks a:visited{color:#0079C1}.whiteLinks,.whiteLinks a:link,.whiteLinks a:visited{color:#FFF}#footerCopyright{margin:20px 0 50px;color:#555;font-size:12px;font-weight:400}.noUnderline,.noUnderline a:link,.noUnderline a:hover{text-decoration:none !important;}

.ArrowSignInMenu,.ArrowSign{width:147px;height:36px;cursor:pointer}#curPgB{width:141px;height:30px;top:20px;background:#FFF;border:3px solid #000}.arraLabel{position:absolute;top:3px;left:3px;width:126px;height:30px;font-size:18px;font-weight:600;text-align:center;line-height:28px;text-decoration:none!important;color:#FFF;pointer-events:none;cursor:pointer}.ArrowSign:hover{text-decoration:none!important}.menuArrowSign{position:absolute;top:7px}#menuArrowSign1{left:85px}#menuArrowSign2{left:240px}#menuArrowSign3{left:395px}#menuArrowSign4{left:550px}#vocB{position:absolute;top:6px;right:10px;width:34px;height:34px;cursor:pointer;margin:0;padding:0;border-radius:35px;border:2px solid #FFF;}#vocG{position:absolute;top:9px;left:7px;width:20px;height:19px}

#cornerFlag{position:absolute;top:3px;left:3px;width:30px;height:30px;background-color:transparent;background-image:url(../visuals/langSprite.png);background-position:-900px 0;background-repeat:no-repeat;z-index:0;}

 #f_lV,#f_rV{display:block;position:absolute;left:7px;width:12px;height:447px;}#f_rV{left:776px;}#f_lC,#f_rC{display:block;position:absolute;bottom:2px;left:5px;width:38px;height:36px;background:url(../visuals/iSprite150226.png)0 -118px;}#f_rC{left:auto;right:1px;background:url(../visuals/iSprite150226.png)-40px -118px;}#f_b{display:block;position:absolute;bottom:2px;left:45px;height:12px;width:712px;}#game,#gameSettings,#gameOver{position:absolute;left:19px;height:470px;text-align:center;border-bottom-right-radius:23px;border-bottom-left-radius:23px;background:#99ccff;width:758px;}#currentTopic,#statusBar{position:absolute;bottom:2px;padding:0 10px;height:13px;font-size:10px;font-family:Comic Sans MS,Arial,Helvetica,sans;cursor:default;line-height:13px;}#currentTopic{left:40px;color:white;background:#0079C1;border:1px solid white;}#statusBar{right:34px;color:black;background:yellow;border:1px solid black;}
 
 .arraLabel206{position:absolute;top:3px;left:3px;width:182px;height:29px;text-align:center;font-size:18px;line-height:30px;font-weight:600;cursor:pointer;white-space:nowrap;overflow:hidden;}#loading,#loadG,#loadT{position:absolute;width:90px;height:90px;}#loadT{font-size:13px;line-height:90px;font-family:sans-serif;font-weight:600;color:white;text-align:center;}#loadT{font-size:13px;line-height:90px;font-family:sans-serif;font-weight:600;color:white;text-align:center;}#loading{left:45%;top:37%;-webkit-animation:rotating-function 1.25s linear infinite;-moz-animation:rotating-function 1.25s linear infinite;-ms-animation:rotating-function 1.25s linear infinite;-o-animation:rotating-function 1.25s linear infinite;animation:rotating-function 1.25s linear infinite;}@-webkit-keyframes rotating-function{from{-webkit-transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);}}@-moz-keyframes rotating-function{from{-moz-transform:rotate(0deg);}to{-moz-transform:rotate(360deg);}}@-ms-keyframes rotating-function{from{-ms-transform:rotate(0deg);}to{-ms-transform: rotate(360deg);}}@-o-keyframes rotating-function{from{-o-transform:rotate(0deg);}to{-o-transform:rotate(360deg);}}@keyframes rotating-function{from{transform:rotate(0deg);}to{transform: rotate(360deg);}}
 
 

